<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" method="post">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" name="username" value="">
            <br>
            <label for="password">Password</label><br>
            <input type="password" name="password" value="">
            <button type="submit"> Login </button>
        </form>
    </body>
</html>
