{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate enctype="multipart/form-data">
   {% csrf_token %}

   <h2>Register a DBer </h2><br>

     {{ u_form|crispy }}
     <h3>OR</h3>
     <div class="">
         Register using excel sheet
         {{ e_form.as_p }}
     </div>

   <button class = "btn btn-success" type="submit">Register</button>
 </form>

 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script>
   $("#id_state").change(function () {
     var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
     var stateId = $(this).val();  // get the selected state ID from the HTML input

     $.ajax({                       // initialize an AJAX request
       url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
       data: {
         'state': stateId       // add the state id to the GET parameters
       },
       success: function (data) {  // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
<div>
<a href="{% url 'home' %}">
    <button type="button" class = "btn btn-primary" name="button"> Home</button>
</a>
</div>

  {% endblock %}
