{% extends 'base.html' %}
{% block content %}
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
            <label for="search"> Search DBer by Name, Aadhar No or email address: </label>
            <input type="text" class="form-control" name="search">
            </div>
            <button type="submit" class = 'btn btn-info' name="sea"> Search </button>
            <h4>Send email to- </h4>
            <h3>{{ to_dber }} - {{ to_dber.email_address }}</h3>
            </form>
            
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
            <label for="subject">Subject: </label>
            <input type="text" class="form-control" name="subject" value="" required>
            </div>
            <div class="form-group">
            <label for="message">Email Description: </label>
            <textarea name="message" class="form-control" rows="8" cols="80" required></textarea>
            </div>


            <h4>Sending via {{ from_email }} by {{ user_1 }}</h4>

            <button type="submit" name="sen"> Send! </button>

        </form>
{% endblock %}
